<ion-header style="margin: 0; padding:0;">
  <ion-toolbar color="primary" style="height: 95px;">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="1.7">
          <ion-button class="ion-float-left" (click)="leftmenu()">
            <ion-icon fill="clear" name="menu"></ion-icon>
          </ion-button>
          <ion-button class="text-color" (click)="leftmenu()" fill="clear">
            Shopping
          </ion-button>
          <ion-button color="warning" fill="clear">
            <ion-icon name="pin"></ion-icon>
            Delivery to <br>
            Delhi 110087
          </ion-button>
        </ion-col>
        <ion-col size-xs="6.3">
          <ion-searchbar showCancelButton="focus" spellcheck="true" animated [(ngModel)]="searcha"></ion-searchbar>
          <ion-row>
            <ion-col>
              <div style="margin-left: 16px;font-size: 13px;">
                <ion-grid>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Best Seller
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Gift Ideas
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    New Releases
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Today's Deals
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Coupons
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Fresh
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Pay
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Customer Service
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Sell
                  </ion-text>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size-xs="4">
          <ion-text color="warning" class="ion-text-center">
            Shopping(Amazon)
          </ion-text>
          <ion-button class="ion-float-right" (click)="rightmenu()">
            <ion-icon name="menu" class="text-color"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>      
    </ion-grid>    
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <div style=" font-size: 13px;">
              <ion-grid>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Electronics
                </ion-text>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Mobiles & Accessories
                </ion-text>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Laptops & Accessories
                </ion-text>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  TV & Home Entertainment
                </ion-text>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Audio
                </ion-text>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Cameras
                </ion-text>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Computer Peripherals
                </ion-text>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Smart Technology
                </ion-text>
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Musical instruments
                </ion-text>                
                <ion-text (click)="bestseller($event)" style="padding-right: 2%; cursor: pointer;">
                  Office & Stationery
                </ion-text>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-xs="5">
      <ion-slides [options]="slideOpts" pager style="background-color:grey">
        <ion-slide *ngFor="let image of productdetails.images">
          <img [src]="image">
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col size-xs="7">
      <ion-row>
        <ion-col>
          {{productdetails.title}}
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <ion-row>
        <ion-col>
          <ion-text color="medium" style="font-size: small;">
            Extra {{productdetails.discount}} discount
          </ion-text>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <ion-row>
        <ion-col style="font-size: smaller;">
          <ion-text color="success" style="font-size: 22px;">
            ₹ {{productdetails.price}}</ion-text> &nbsp;&nbsp;
          <!-- https://ionicframework.com/docs/theming/basics     ionic color --> <s>₹33333</s>&nbsp;&nbsp;<ion-text
            color="success">5% off</ion-text>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <ion-row>
        <ion-col>
          <b>Available Offers</b><br><br>
          <ion-icon name="pricetag" color="danger"></ion-icon>
          <b>Bank Offer:</b> 10% Instant Discount on Federal Bank Debit Cards
          <!-- {{productdetails.offers}} -->
          <a href="#" style="text-decoration: none;"> T&C</a><br>
          <ion-icon name="pricetag" color="danger"></ion-icon>
          <b>Bank Offer:</b> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card<a href="#"
            style="text-decoration: none;"> T&C</a><br>
          <ion-icon name="pricetag" color="danger"></ion-icon>
          <b>Bank Offer:</b> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card<a href="#"
            style="text-decoration: none;"> T&C</a><br>
          <ion-icon name="pricetag" color="danger"></ion-icon>
          <b>Bank Offer:</b> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card<a href="#"
            style="text-decoration: none;"> T&C</a><br>
          <ion-icon name="pricetag" color="danger"></ion-icon>
          <b>Bank Offer:</b> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card<a href="#"
            style="text-decoration: none;"> T&C</a><br>
          <!-- {{now}} its fetch current date -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="2">
          <ion-text>
            Delivery
          </ion-text>
        </ion-col>
        <ion-col size-xs="10">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-icon name="pin" color="primary"></ion-icon>
                  <ion-input position="floating" placeholder="Enter Pincode">
                  </ion-input>
                  <ion-button fill="clear">
                    hell ya!
                  </ion-button><br>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>
                Delivered in days need to use from and to
                <span style="color: grey; font-size: 15px;"><br>
                  if ordered before 8:45 PM<br>
                </span>
                <ion-button fill="clear">
                  View Details
                </ion-button>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="2">
          Capacity
        </ion-col>
        <ion-col size-xs="4">
          <ion-button fill="clear">
            16 GB
          </ion-button>
          <ion-button fill="clear">
            128 GB
          </ion-button>
        </ion-col>
        <ion-col size-xs="6">
          <ion-row>
            <ion-col size-xs="2">
              Color
            </ion-col>
            <ion-col size-xs="10">
              <img src="https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-260nw-721703848.jpg"
                height="69px"> &nbsp;
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTruQFbZF0zvcSBo7yTQUpYmy_i33RIxscB2U_sUEnUwrbJmIRP&s"
                height="69px">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="2">
          Highlights
        </ion-col>
        <ion-col size-xs="4">
          <ul>
            <li>
              USB 2.0|64 GB
            </li>
            <li>
              USB 2.0|64 GB
            </li>
            <li>
              USB 2.0|64 GB
            </li>
            <li>
              USB 2.0|64 GB
            </li>
          </ul>
        </ion-col>
        <ion-col size-xs="2">
          Services
        </ion-col>
        <ion-col size-xs="4">
          <ul>
            <li>
              USB 2.0|64 GB
            </li>
            <li>
              USB 2.0|64 GB
            </li>
            <li>
              USB 2.0|64 GB
            </li>
            <li>
              USB 2.0|64 GB
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <div class="tables">
        <ion-row>
          <ion-col
            style="display: flex;padding: 24px 30px 24px 24px;font-size: 24px;font-weight: 500;line-height: 1.14;">
            Specification
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row>
          <ion-col>
            <ion-text style="padding-bottom: 16px;font-size: 18px;white-space: nowrap;line-height: 1.4; color:black;">
              General
            </ion-text>
            <ion-row>
              <ion-col size-xs="3" style="color: #878787;">
                <br>
                Sales Package <br><br>
                Model Name<br><br>
                Opening Mechanism <br><br>
                Read Speed <br><br>
                Write Speed <br><br>
              </ion-col>
              <ion-col size-xs="9">
                <br>
                1 pen drive <br><br>
                SDCZ50-064g-I35 /SDCZ50-064g-B35 <br><br>
                Standard Flash Drive <br><br>
                USB 2.0 <br><br>
                USB 2.0 <br><br>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <div class="divider"></div>

        <ion-row>
          <ion-col>
            <ion-text
              style="padding-bottom: 16px; font-size: 18px; white-space: nowrap; line-height: 1.4; color:black;">
              Warranty
            </ion-text>
            <ion-row>
              <ion-col size-xs="3" style="color: #878787;">
                <br>
                Covered in Warranty <br><br>
                Not Covered in Warranty <br><br>
                Warranty Summary
              </ion-col>
              <ion-col size-xs="9">
                <br>
                Manufacturing Defects only <br><br>
                Burnt or Physically Damaged <br><br>
                5 Years Warranty
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row>
          <ion-col style="padding: 24px;width: 100%;text-align: left;margin-top: -1px;box-shadow: none;font-size: 16px;
          font-weight: 400;">
            <a href="#">Manufacturing, Packaging and Import Info</a>
          </ion-col>
        </ion-row>
      </div>

      <!-- <div>
        <b>Frequently bought together</b>
        <ion-row *ngFor="let image of comparision.images">
          <ion-col size="6" *ngIf="image.id == 1 && image.name == 'flower' "> some prob in image
            <img [src]="image.imagel"> images 
             <li> {{image.id}} it fetch without images data </li> 
             <ion-col size-xs="2"><ion-icon name="person"></ion-icon></ion-col>
          </ion-col>
          <ion-col size="6" *ngIf="image.id == 2 && image.name == 'gril' ">
            <img [src]="image.imagel">
          </ion-col>
        </ion-row>
      </div> -->
      <br>
      <div class="tables">
        <br>
        <ion-row>
          <ion-col
            style="display: flex;padding: 24px 30px 24px 24px;font-size: 24px;font-weight: 500;line-height: 1.14;">
            Frequently bought together
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let image of comparision.images">
          <ion-col size-xs="5" *ngIf="image.id == 2 && image.name == 'gril' ">
            <img [src]="image.imagel">
            <ion-row>
              <ion-col>
                {{ productdetails.title }}
                <div class="divider"></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text color="success" style="font-size: 18px;">
                  ₹ {{ productdetails.price }} &nbsp;&nbsp;<s>{{ productdetails.discount }}</s>
                </ion-text> &nbsp;&nbsp;
                <ion-text color="success">5% off</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size-xs="2">
            <ion-icon name="add"></ion-icon>
          </ion-col>

          <ion-col size-xs="5" *ngIf="image.id == 2 && image.name == 'gril' ">
            <img [src]="image.imagel">
            {{ productdetails.title }}
            <div class="divider"></div>
            <ion-row>
              <ion-col>
                <ion-text color="success" style="font-size: 18px;">
                  ₹ {{ productdetails.price }} &nbsp;&nbsp;<s>{{ productdetails.discount }}</s>
                </ion-text> &nbsp;&nbsp;
                <ion-text color="success">5% off</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row>
          <ion-col size-xs="6">
            <ion-text color="success" style="font-size: 18px;">
              p1: {{ productdetails.price }}
            </ion-text>
            <ion-text color="success" style="font-size: 18px;">
              p2: {{ productdetails.price }}
            </ion-text>
            <ion-text color="success" style="font-size: 18px;">
              Result {{ productdetails.price + productdetails.price }}
            </ion-text>
          </ion-col>
          <ion-col size-xs="6">
            <ion-button fill="clear" class="ion-text-end">
              Add items to cart
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div>
        <ion-list>
          <ion-item>
            <ion-text>5</ion-text>
            <ion-icon name="star"></ion-icon>
            <ion-range color="success"></ion-range><br><br><br>
          </ion-item>
          <ion-item>
            <ion-text>4</ion-text>
            <ion-icon name="star"></ion-icon>
            <ion-range color="success"></ion-range>
          </ion-item>
          <ion-item>
            <ion-text>3</ion-text>
            <ion-icon name="star"></ion-icon>
            <ion-range color="success"></ion-range>
          </ion-item>
          <ion-item>
            <ion-text>2</ion-text>
            <ion-icon name="star"></ion-icon>
            <ion-range color="warning"></ion-range>
          </ion-item>
          <ion-item>          
            <ion-range color="danger" pin="true">
              <ion-text slot="start">1</ion-text>
              <ion-icon slot="start" name="star"></ion-icon>             
            </ion-range>
          </ion-item>
        </ion-list>        
      </div>

      <!-- <div>
        <label>name:
          <input [(ngModel)]="trainer.name" placeholder="name">
          <ion-text>{{trainer.name}}</ion-text>
        </label>
      </div> -->
    </ion-col>
  </ion-row>
</ion-content>