<ion-menu slide="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Start menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu</ion-item>
      <ion-item>Menu</ion-item>
      <ion-item>Menu</ion-item>
      <ion-item>Menu</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>