<ion-header>
  <ion-toolbar>
    <ion-title>Best-Seller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <h2>
        Kitchen Appliances
      </h2>
      <ui>
        <li>
          
        </li>
      </ui>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
