/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.content-in-center {
    display: flex;
    justify-content: center;
}

.content-in-end {
    display: flex;
    justify-content: flex-end;
}

.content-in-start {
    display: flex;
    justify-content: flex-start;
}
ion-button {
    text-transform: none;
  }
.text-color{
    color:white;
    //background-color: white;
}
.textborder:hover{
    border:1px solid gainsboro;
}
.divider {
    height: 1px;
    width: 100%;
    background: rgba(151, 151, 151, 0.473);
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .tables{
    border: 1px rgba(151, 151, 151, 0.473) solid;
}