<ion-header style="margin: 0; padding:0;">
  <ion-toolbar color="primary" style="height: 95px;">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="1.7">
          <ion-button class="ion-float-left" (click)="leftmenu()">
            <ion-icon fill="clear" name="menu"></ion-icon>
          </ion-button>
          <ion-button class="text-color" (click)="leftmenu()" fill="clear">
            Shopping
          </ion-button>
          <ion-button color="warning" fill="clear">
            <ion-icon name="pin"></ion-icon>
            Delivery to <br>
            Delhi 110087
          </ion-button>
        </ion-col>
        <ion-col size-xs="6.3">
          <ion-searchbar showCancelButton="focus" spellcheck="true" animated [(ngModel)]="searcha"></ion-searchbar>
          <ion-row>
            <ion-col>
              <div style="margin-left: 16px;font-size: 13px;">
                <ion-grid>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Best Seller
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Gift Ideas
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    New Releases
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Today's Deals
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Coupons
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Fresh
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Pay
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Customer Service
                  </ion-text>
                  <ion-text (click)="bestseller($event)" style="padding-right: 12px; cursor: pointer;">
                    Sell
                  </ion-text>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col size-xs="4">
          <ion-text color="warning" class="ion-text-center">
            Shopping(Amazon)
          </ion-text>
          <ion-button class="ion-float-right" (click)="rightmenu()">
            <ion-icon name="menu" class="text-color"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
 </ion-header>
<!--<ion-router-outlet main></ion-router-outlet> -->

<ion-content>
  <ion-grid (click)="plist()" style="cursor:pointer">
    <ion-list *ngFor="let item of items | searchbar:searcha;">
      <ion-item>
        <ion-row>
          <ion-col size-xs="6">
            <img [src]="item.pimage">
            <!--position: absolute;margin: auto;top: 0;bottom: 0;left: 0;right: 0;max-width: 100%;max-height: 100%; -->
          </ion-col>
          <ion-col size-xs="6">
            &nbsp; {{item.title}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>